<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Comidas</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../../static/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../../static/vendors/iconfonts/puse-icons-feather/feather.css">
    <link rel="stylesheet" href="../../../static/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../../static/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../../static/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../../static/css/demo_1/style.css">
    <link rel="stylesheet" href="../../../static/css/demo_3/dark-theme.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="../../../static/images/favicon.png" /> </head>
  <body class="dark-theme sidebar-dark">
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      {% include '../../partials/_navbar.html' %}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
        {% include '../../partials/_settings-panel.html' %}
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        {% include '../../partials/_sidebar.html' %}   
        <!-- partial -->

        <!-- AQUI va el codigo base!! -->

        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <h1>Búsquedas Populares</h1>
                    <div class="row">
                      <div class="col-12">
                        <div class="row portfolio-grid">
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <figure class="effect-text-in">
                              <a href="/search/?q=cafetería">
                                <img src="../../../static/images/events/alumnos.jpg" alt="image" width="300" height="300"/>
                                <figcaption>
                                  <h4>Cafe</h4>
                                  <p>La mejor comida de la UNAM.</p>
                                </figcaption>
                              </a>
                            </figure>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <a class="nav-link" href="/search/?q=luna">
                              <figure class="effect-text-in">
                                <img src="../../../static/images/events/media_luna.jpg" alt="image" width="300" height="300"/>
                                <figcaption>
                                  <h4>Media Luna</h4>
                                  <p>La mejor comida de la UNAM.</p>
                                </figcaption>
                              </figure>
                            </a>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <a class="nav-link" href="/search/?q=almuerzo">
                              <figure class="effect-text-in">
                                <img src="../../../static/images/events/almuerzo.jpg" alt="image" width="300" height="300"/>
                                <figcaption>
                                  <h4>Almuerzo</h4>
                                  <p>La mejor comida de la UNAM.</p>
                                </figcaption>
                              </figure>
                            </a>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <a class="nav-link" href="/search/?q=comida">
                              <figure class="effect-text-in">
                                <img src="../../../static/images/events/comida.jpg" alt="image" width="300" height="300"/>
                                <figcaption>
                                  <h4>Comida</h4>
                                  <p>La mejor comida de la UNAM.</p>
                                </figcaption>
                              </figure>
                            </a>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <a class="nav-link" href="/search/?q=frappe">
                              <figure class="effect-text-in">
                                <img src="../../../static/images/events/cafeteria.jpg" alt="image" width="300" height="300"/>
                                <figcaption>
                                  <h4>Frappes/Cafes</h4>
                                  <p>La mejor comida de la UNAM.</p>
                                </figcaption>
                              </figure>
                            </a>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <a class="nav-link" href="/search/?q=llevar">
                              <figure class="effect-text-in">
                                <img src="../../../static/images/events/llevar.jpg" alt="image" width="300" height="300"/>
                                <figcaption>
                                  <h4>Para llevar</h4>
                                  <p>La mejor comida de la UNAM.</p>
                                </figcaption>
                              </figure>
                            </a>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <a class="nav-link" href="/search/?q=recien">
                              <figure class="effect-text-in">
                                <img src="../../../static/images/events/horno.jpg" alt="image" width="300" height="300"/>
                                <figcaption>
                                  <h4>Recién hecha</h4>
                                  <p>La mejor comida de la UNAM.</p>
                                </figcaption>
                              </figure>
                            </a>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <a class="nav-link" href="/search/?q=otros">
                              <figure class="effect-text-in">
                                <img src="../../../static/images/events/otros.jpg" alt="image" width="300" height="300"/>
                                <figcaption>
                                  <h4>Otros</h4>
                                  <p>La mejor comida de la UNAM.</p>
                                </figcaption>
                              </figure>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- AQUI Termina el codigo base!! -->

          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          {% include '../../partials/_footer.html' %}
          <!-- partial -->
          <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
      </div>
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../../../static/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../../static/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="../../../static/js/shared/off-canvas.js"></script>
    <script src="../../../static/js/shared/hoverable-collapse.js"></script>
    <script src="../../../static/js/shared/misc.js"></script>
    <script src="../../../static/js/shared/settings.js"></script>
    <script src="../../../static/js/shared/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- End custom js for this page-->
  </body>
</html>
