

body {
  background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)),url("../../../media/images/ciencias01.png") no-repeat fixed;
  background-size: 100%;
  font-family: "Istok Web", sans-serif;
  color: black;
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
h1 {
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.5);
  text-shadow: 1px 1px black;
}

#container {
  color: black;
  height: 80vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#container form {
  background: rgba(255, 255, 255, 0.863);
  padding: 20px 200px 20px 200px;
  border-radius: 30px;
  border: solid rgba(228, 118, 15);
}



label {
  font-size: large;
  font-weight: bolder;
  font-family: "Istok Web", sans-serif;
}

#btnCrear {
  margin-top: 50px;
  height: 40px;
  width: 150px;
  border: solid 2px rgba(228, 118, 15);
  border-radius: 80px;
  transition: all 1s ease;
  transform: scale(1);
  cursor: pointer;
}

#btnCrear:hover {
  background-color: #f44336;
  color: white;
  transform: scale(1.1) perspective(1px);
}