{% extends "cc/base.html" %}

{% block body_content %}
<div class="home">
<a href="{% url 'index' %}">Inicio</a >
</div>
<h1>Proyecto CafeCiencias</h1>
<center>
  <img src="../../static/cc/imag/logoo.png" width="150px">
  <br>
  <h2>
    Proyecto final de la materia de Riesgo Tecnológico del semestre 2020-2
    <h3>
      CafeCiencias
      <h4>
        A cargo de:
        <ul>
          <li>Dra. Selene Marisol Martínez Ramírez </li>
          <li>Arturo Castillo Valles </li>
          <li>L. en C.C. Luis Rey Rutiaga Robles </li>
        </ul>
      </h4>
    </h3>
  </h2>
  <div class="links">
  <a href="https://drive.google.com/file/d/1QQotb-tHUhb_TXr0NmMg-ptkvddZaH5a/view?usp=sharing">Documentación</a>
  </div>
  </br>
</center>

{% endblock %}
