{% extends "cc/base.html" %}

{% load static %}

{% block body_content %}

<a href="{% url 'index' %}">Home</a>

<!-- POSTS -->
<h3>Hola {{ user }}</h3>
<h1>MIS POSTS</h1>
<ul>
  {% for post in object_list %}
  <h2>
    {{ post.title }}
    <a href="/{{ post.id }}">{{post.date}}</a>
  </h2>
  {% endfor %}
</ul>

<!-- Agregar post only admin -->

{% if user.is_superuser %}
<a href="{% url 'add' %}">Agregar un Post</a>
{% endif%}

<a href="{% url 'logout' %}">Cierra tu sesión, crack</a>
{% endblock %}
