{% extends "cc/base.html" %}

{% load static %}

{% block body_content %}

<a href="{% url 'index' %}">Home</a>

<!-- POSTS -->
<h3>Hola {{ user }}</h3>
<h1>Revisa las comidas de la cafe uwu</h1>
<ul>
  {% for post in object_list %}
  <ul>
    <h2>
      <li>
        {{ post.title }}
        <a href="/{{ post.id }}">{{post.date}}</a>
        </li>
    </h2>
  </ul>
  {% endfor %}
</ul>

<!-- Agregar post only admin -->
<div>
  {% if user.is_superuser %}
  <a href="{% url 'add' %}">Agregar un Post</a>
  {% endif%}
</div>

<!-- Cerrar sesión -->
<div>
  <a href="{% url 'logout' %}">Cierra tu sesión, crack</a>
  {% endblock %}
</div>
