{% extends "cc/base.html" %}

{% load static %}

{% block css_content %}

<link rel="stylesheet" href="{% static 'Post/css/one_post.css' %}">

{% endblock %}

{% block body_content %}
<div class="container">
  <div id="post" class="center">

    <h1> {{ post.title }} </h1>
    <div class="">
      <h3>
        Día: {{ post.date }}
      </h3>
    </div>
    <div class="">
      <h2>
        Descripción:
        {{ post.paragraph }}
        <H2>
    </div>
    {% if post.image == null or post.image == "" %}
    <div>
    </div>
    {% else %}
    <div>
      <img src="{{post.image.url}}" width="1000px">
    </div>
    {% endif %}
  </div>

  <picture id="post-image">
    <center>
      <img src="../../static/cc/imag/logoo.png" width="150px">
    </center>
  </picture>

  <div>
    <a href="{% url 'list' %}">Lista</a>
  </div>
</div>


{% endblock %}
